.slider {
  margin-top: -58px;
}

.slide {
  width: 100%;
}

.lottomixer {
  height: auto;
  max-height: 340px;
  margin-bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-normal);
}

canvas {
  transform: scale(0.68);
}