.slide {
  width: 100%;
  margin: 15px;
}

.lottomixer {
  max-height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-normal);
}

canvas {
  transform: scale(0.51);
  margin-bottom: 8px;
}