* {
  box-sizing: border-box;
}

p,
h1 {
  color: #fff;
  text-align: center;
  cursor: default;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
}

img {
  width: 40px;
}

table {
  min-width: 92vw;
  max-width: 100vw;
  font-size: 12px;
  color: #000;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: rgba(55, 57, 68, 0.3);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: var(--shadow-lg);
  box-sizing: border-box;
  cursor: default;
  transition: all 0.3s ease-in-out;
}

thead {
  background: rgba(11, 11, 18, 0.08);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

tr {
  background: rgba(11, 11, 18, 0.08);
  font-size: 16px;
  padding: 10px;
}

th.tophead {
  background: rgba(11, 11, 18, 0.28);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

th.tophead:hover, tr.tophead:active {
  background: rgba(11, 11, 18, 0.48);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

tr.toptable {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

tr.toptable:hover, tr.toptable:active {
  background: rgba(11, 11, 18, 0.38);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

th {
  font-size: 16px;
  background: #010101;
  line-height: 25px;
  color: white;
}

th,
td {
  font-size: 16px;
  min-width: 100px;
  padding: 5px 5px;
  color: #fefefe;
}

th:nth-of-type(2),
td:nth-of-type(2) {
  text-align: left;
  font-size: 12px;
}

.dropdown-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(11, 11, 18, 0.28);
  padding: 28px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.collapse.show .dropdown-content {
  opacity: 1;
  animation: fade 0.4s ease-in-out;
}

.positive {
  ffont-size: 12px;
  color: #6abe2a;
  font-weight: 600;
}

.negative {
  font-size: 12px;
  color: #ff0000;
  font-weight: 600;
}

@media (max-width: 768px) {
  td.mcap, th.mcap {
    display: none;
    font-size: 12px;
    min-width: 100px;
    padding: 5px 5px;
    color: #ffa800;
  }
  table {
    max-width: 92vw;
    transition: all 0.3s ease-in-out;
  }
  tr {
    max-width: 92vw;
    transition: all 0.3s ease-in-out;
  }
  tr.toptable {
    max-width: 92vw;
    transition: all 0.3s ease-in-out;
  }
  tr.toptable:hover, tr.toptable:active {
    max-width: 92vw;
    transition: all 0.3s ease-in-out;
  }
  th {
    max-width: 92vw;
    transition: all 0.3s ease-in-out;
  }
  th,
  td {
    max-width: 92vw;
    transition: all 0.3s ease-in-out;
  }
  th:nth-of-type(2),
  td:nth-of-type(2) {
    max-width: 92vw;
    transition: all 0.3s ease-in-out;
  }
  .dropdown-content {
    max-width: 92vw;
    transition: all 0.3s ease-in-out;
  }
}