* {
  box-sizing: border-box;
}

p,
h1 {
  color: #fff;
  text-align: center;
  cursor: default;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
}

img {
  width: 40px;
}

table {
  background: rgb(11, 11, 19);
  min-width: 70%;
  max-width: 100vw;
  font-size: 12px;
  color: #000;
  text-align: center;
  border-collapse: collapse;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: default;
}

tr {
  font-size: 12px;
  border-bottom: 0px solid #000;
}

th {
  font-size: 12px;
  background: #010101;
  line-height: 25px;
  color: white;
}

th,
td {
  font-size: 12px;
  min-width: 100px;
  padding: 5px 5px;
  color: #ffa800;
}

th:nth-of-type(2),
td:nth-of-type(2) {
  text-align: left;
  font-size: 12px;
}

.positive {
  ffont-size: 12px;
  color: #6abe2a;
  font-weight: 600;
}

.negative {
  font-size: 12px;
  color: #ff0000;
  font-weight: 600;
}

@media (max-width: 768px) {
  td.mcap {
    display: none;
    font-size: 12px;
    min-width: 100px;
    padding: 5px 5px;
    color: #ffa800;
  }
}